<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<div class="menu">
<p class="c_new">ツイート</p>
<p>ツイートと返信</p>
<p>メディア</p>
<p>いいね</p>
</div>
<% @tweets.each do |e| %>
<div class="main_tweet">
    <p>
        <%= e.message %>
    </p>
        <%= image_tag"pancake.png" %>
    <p><div  class="tw_ti">
        <%= ((Time.current - e.tdate)/60).to_i%>分</div>
        <%=link_to '削除', "/tweets/#{e.id}",class:"tw_bt", data: { turbo_method: :delete } %>
        <%=link_to '表示', "/tweets/#{e.id}",class:"tw_bt" %>
        <%=link_to '編集', edit_tweet_path(e),class:"tw_bt" %>
    </p>
</div>
<% end %>


